.header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1040px;
    background-image: url("../public/images/header.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 37px 10px 70px 10px;
}

.header > * {
    z-index: 10;
}

.header::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(219, 103, 67, 0.2);
}

.header_smoke {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -150px;
    background-image: url("../public/images/smoke.png");
}

.header_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 300px;
    max-width: 1240px;
    height: 100%;
    width: 100%;
}

.menu_icon {
    position: absolute;
    top: 37px;
    right: 37px;
}

.header_clouds {
    position: absolute;
    left: 0;
    right: 0;
    top: 250px;
    height: 600px;
    background-image: url("../public/images/cloud.png"),
                      url("../public/images/cloud.png"),
                      url("../public/images/cloud.png"),
                      url("../public/images/cloud.png");
    background-repeat: no-repeat;
    background-position: -100px top, calc(100% + 100px) top, -100px 80%, calc(100% + 100px) 80%;
}

.header_logo {
    margin-bottom: 135px;
}

.title {
    align-self: flex-start;
    width: 560px;
    text-align: end;
}

.title_main {
    display: block;
    text-align: start;
    color: #D7795C;
    font-family: "BigShouldersStencilText";
    font-size: 200px;
}

.title_second {
    color: #ffffff;
    font-family: "Calligraffitti";
    font-size: 100px;
    line-height: 35px;
}

.section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #111015;
}

.section_title {
    font-family: "Cormorant";
    font-weight: 400;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
}

.about {
    position: relative;
    padding-top: 144px;
    padding-bottom: 186px;
}

.about::after {
    content: "";
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: -130px;
    background-image: url("../public/images/line1.png");
    background-repeat: no-repeat;
    background-position: 50% 80%;
}

.about_container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1240px;
    height: 100%;
    width: 100%;
}

.about_title {
    margin-bottom: 114px;
}

.about_box {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.about_image {
    width: 493px;
    height: 545px;
    background-image: url("../public/images/about.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.about_text {
    max-width: 647px;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.about_descr {
    font-family: "UbuntuCondensed";
    font-weight: 400;
    font-size: 24px;
    color: #fff;
}

.project {
    padding-bottom: 280px;
}

.project_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.project_navigators {
    width: 925px;
    height: 688px;
    display: flex;
}


.navigator_item {
    position: relative;
    width: calc(100% / 3);
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

.navigator_item:nth-child(2n+1)::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.navigator_item:nth-child(1) {
    background-image: url("../public/images/project1.png");
}

.navigator_item:nth-child(2) {
    background-image: url("../public/images/project2.png");
}

.navigator_item:nth-child(3) {
    background-image: url("../public/images/project3.png");
}

.navigator_item > span {
    position: relative;
    z-index: 10;
    cursor: pointer;
    font-family: "Cormorant";
    font-weight: 700;
    font-size: 40px;
    color: #f0ecff;
}

.contacts {
    padding-bottom: 376px;
}

.contacts::after {
    content: "";
    position: absolute;
    z-index: 100;
    top: -280px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../public/images/line2.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.contacts_title {
    margin-bottom: 337px;
}

.contacts_form {
    position: relative;
    z-index: 1000;
    display: flex;
    gap: 66px;
}

.form_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 61px;
    max-width: 399px;
    width: 100%;
}

.contacts_input, .contacts_message {
    padding: 12px;
    font-size: 32px;
    font-family: "Cormorant";
}

.contacts_message {
    height: 196px;
}

.form_button {
    background: rgba(215, 100, 64, 0.76);
    padding: 14px 122px;
    font-weight: 400;
    font-size: 32px;
    color: #000;
    font-family: "Cormorant";
}